#============= misc_writer ==============
allow misc_writer block_device:blk_file { getattr open write };
allow misc_writer proc_dt_firmware_android:dir search;
allow misc_writer proc_dt_firmware_android:file { open read };

